@font-face {
    font-family: 'Josefin Sans';
    src: url('http://fonts.googleapis.com/css?family=Josefin+Sans') format('truetype');
}

.navigation_container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & .navigation_link {
        padding: 1rem 2rem;
        text-decoration: none;
        font-family: 'Josefin';
        font-weight: 600;
        font-size: 14pt;
    }
}