@font-face {
    font-family: 'Josefin Sans';
    src: url('http://fonts.googleapis.com/css?family=Josefin+Sans') format('truetype');
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navigation_container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    background-color: grey;
    & .navigation_link {
        padding: 1rem 2rem;
        text-decoration: none;
        font-family: 'Arial';
        font-weight: 600;
        font-size: 14pt;
        text-transform: uppercase;
        color:black;
        &:hover {
            color: rgb(58, 60, 61);
        }
        &:active {
            color: darkblue;
        }
    }
}

.subnavigation_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & .navigation_sublink {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 13pt;
        text-transform: uppercase;
        color: black;
    }
}